* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1vw;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
  }
  
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-out;
  }
  
  .fade-out {
    opacity: 0;
  }

  .swal-wide{
    width: 40vw;
    height: 35vw;
    font-size: 2vw;
}
  
  .inquiry {
    font-weight: bold;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1vw;
    background-color: rgb(7, 36, 89);
    color: white;
    position: relative;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 1vw;
    position: absolute;
    left: 1vw;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .dropdown-icon {
    font-size: 1vw;
    margin-right: 0.2vw;
  }
  
  #logo-main {
    cursor: pointer;
    min-width: 4vw;
    min-height: 4vw;
  }

  a{
    margin-right: 1vw;
  }
  
  .right-icons {
    display: flex;
    align-items: center;
    gap: 1vw;
    position: absolute;
    right: 1vw;
  }
  
  .right-icons a i {
    color: white;
    width: 1vw;
  }
  
  .search-bar {
    padding: 0.1vw 0 0.1vw 0.7vw;
    border-radius: 1vw;
    border: none;
    font-size: 1vw;
    margin: 0 0.2vw 0.1vw 0;
    color: white;
    min-width: 20rem;
  }
  
  .language {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
  }
  
  .menu-toggle-big {
    display: none;
    font-size: 2vw;
  }
  
  #search-icon {
    display: none;    
  }
  
  @media (max-width: 768px) {
    .navbar .menu,
    .search-bar,
    .language {
      display: none;
    }
  
    .menu-toggle-big {
      display: block;
      cursor: pointer;
      position: absolute;
      left: 1vw;
    }
  
    #logo-main {
      cursor: pointer;
    min-width: 4vw;
    min-height: 4vw;
    }
  
    #search-icon {
      display: block;
    }
  }
  
  .icons {
    height: 1vw;
    width: 1vw;
  }
  
  .container {
    flex: 1;
    width: 90vw;
    margin: 1vw auto;
    background-color: #f1f1ff88;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: center;
  }
  
  .fields {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    min-width: 30vh;
  }

  input[type=text], input[type=tel], input[type=email], input[type=email], select, input[type=date], #sex, #drivers-license, #file-upload{
    width: 90%;
    margin: 0 auto;
  }

  input[type=checkbox], input[type=radio]{
    width: 0.5vw;
    height: 0.5vw;
    margin-right: 0.5vw;
  }

  #full-width{
    flex: 0 0 100%;
  }

  .checkboxes{
    margin-left: 4vw;
  }

  #full-width2{
    flex: 0 0 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 2vw;
  }
  
  .divider {
    background-color: rgba(7, 36, 89, 0.2);
    display: block;
    height: 0.3vw;
    margin: 2vmin auto 1vmin;
    max-width: 3rem;
    width: 100%;
    border-radius: 2vw;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 0.4vw 0;
    font-weight: bold;
  }
  
  .radio {
    margin-right: 1vw;
    font-weight: normal;
  }
  
  .combo {
    margin-top: 0;
    font-weight: normal;
  }
  
  #privacy {
    margin-top: 1vw;
  }
  
  #cb {
    margin-bottom: 1vw;
  }
  
  input,
  select,
  button {
    padding: 0.5vw;
    border: 0.1vmax solid #ccc;
    border-radius: 20vw;
    background-color: rgba(122, 122, 255, 0.1);
  }

  input{
    padding: 0.5vw;
  }
  
  .checkbox {
    margin-top: 1vw;
  }
  
  .checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, auto));
    gap: 0.1vw;
  }
  
  button {
    margin-top: 1vw;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  
  .checkboxes input[type="checkbox"] {
    margin: 0 0.4vw 0.2vw 0;
  }

  #sex {
    display: flex;
    gap: 1vw;
  }
  
  #sex div {
    display: flex;
    align-items: center;
  }
  
  #sex input[type="radio"] {
    margin: 0 0.4vw 0 0;
  }
  
  .error-message {
    display: none;
    color: red;
    margin-top: 1vw;
  }
  
  #drivers-license {
    display: flex;
    gap: 1vw;
  }
  
  #drivers-license div {
    display: flex;
    align-items: center;
  }
  
  #drivers-license input[type="radio"] {
    margin: 0 0.4vw 0 0;
  }

  footer {
    min-height: 4em;
    height: 100vw;
    width: 100%;
    padding: 1vw 0;
    background-color: #d3d3d3;
    text-align: center;
  }
  